@implements IDisposable

@inject NavigationManager NavigationManager
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
        <img src="AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Students</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Macro Code</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <NavLink href="" Match="NavLinkMatch.All" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </NavLink>

                </li>
                <li class="nav-item">
                    <NavLink href="students-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Students
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="parents-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Parents
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="teachers-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Teachers
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="countries-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Countries
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="subjects-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Subjects
                        </p>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink href="systemcodes-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            System Codes
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="systemcodesdetails-list" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            System Code Details
                        </p>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</aside>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

