@page "/country/delete/{id:int}"
@using StudentsManagement.Client.Services;
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer


<h3>Delete Country Details</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Country Code</th>
                <td>@countryobj.Code</td>
            </tr>
            <tr>
                <th>Country Name</th>
                <td>@countryobj.Name</td>
            </tr>
            
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete"> Delete Country</button>
        <button type="button" class="btn btn-danger">Cancel</button>
    </div>
</div>



@code {
    public Country countryobj { get; set; } = new();

    [Parameter]
    public int id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadCountry();
    }
    public async Task LoadCountry()
    {
        countryobj = await CountryService.GetByIdAsync(id);
    }


    protected async Task Delete()
    {
        var result = await CountryService.DeleteAsync(id);
        navigation.NavigateTo("/countries-list");
    }
    public void Cancel()
    {
        navigation.NavigateTo("/countries-list");
    }
}
