@page "/subject/edit/{id:int}"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Update Country Details</h3>
            </div>
            <div class="card-body">
                <EditForm Model="subjectobj" OnValidSubmit="UpdateUpdateSubject" FormName="updateCountry">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Subject Name</label>
                                    <InputText for="Name" class="form-control" @bind-Value="@subjectobj.Name" />
                                    <ValidationMessage For="()=>subjectobj.Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Subject Description</label>
                                    <InputText for="Description" class="form-control" @bind-Value="@subjectobj.Description" />
                                    <ValidationMessage For="()=>subjectobj.Description" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Save Subject</button>
                            <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Back to List</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {

    [SupplyParameterFromForm]
    public Subject subjectobj { get; set; } = new();


    [Parameter]
    public int id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadSubject();
    }
    public async Task LoadSubject()
    {
        subjectobj = await SubjectService.GetByIdAsync(id);
    }


    protected async Task UpdateUpdateSubject()
    {
        var result = SubjectService.UpdateAsync(subjectobj);
        navigation.NavigateTo("/subjects-list");
    }
    public void Cancel()
    {
        navigation.NavigateTo("/subjects-list");
    }
}
